body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    width: 350px;
    padding: 40px 30px 30px 40px;
    border-radius: 15px 15px 15px 15px;
    text-align: left;
}

.right-side{
    width: 350px;
    padding: 40px 30px 30px 40px;
    border-radius: 15px 15px 15px 15px;
    text-align: left;
}

.headings {
    color: darkblue;
    font-size: 16px;
    
    margin-bottom: 20px;
}

.card {
    background-color: white;
    width: 350px;
    padding: 40px 30px 30px 40px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 3px 3px 3px black;
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    color: darkblue;
    font-size: 28px;
    margin-bottom: 10px;
}

.course {
    color: darkgreen;
    font-size: 16px;
    margin-bottom: 20px;
}

.description {
    color: gray;
    font-size: 15px;
    line-height: 1.6;
}

.contact-btn {
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 25px;
}
